/*  MAKE LAYOUT RESPONSIVE at 1024px FOR SMALLER SCREENS ================================================================ */



		header {
			/*width: 93.75%;  960px / 1024px */
		}

		#maincontent{
					width: 93.75%; /* 960px / 1024px */
		}

		.maincontent{
			width: 93.75%; /* 960px / 1024px */
		}

		footer {
			width: 93.75%; /* 960px / 1024px */
		 color: pink !important;
		}

nav a
{
	font-size: 18px;
}