/*  MAKE LAYOUT RESPONSIVE at 768px FOR IPAD PORTRAIT ================================================================ */



		header {
			width: 93.75%; /* 720px / 768px */
		}

		#maincontent{
			width: 93.75%; /* 720px / 768px */
		}


		.maincontent{
			width: 93.75%; /* 720px / 768px */
		}


		footer {
			width: 93.75%; /* 720px / 768px */
					 color: green !important;
		}

.footnav ul li a, header nav a
{font-size: 11px;}
