@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);


body
{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #555;
  margin-top: 10px;
  text-align: left;
  /*background: whitesmoke;*/
  /*background: #e6e6e6;*/
  background: #f0f0f0;
}

ul
{
  list-style-type: none;
  padding-top: 29px;
}

.content
{
  clear: both;
  /*margin:0 20px;*/
  /*border-top: 3px solid #eee;*/
  /*padding-top: 20px;*/
}

.container
{
  background: green;
  margin: 0 auto;
  /*width: 80%;*/
  /*border: 1px solid black;*/
  padding: 0 30px 30px 30px;
  /*height: 100%;*/
}

.leftcolumn, .rightcolumn
{
  width: 50%;
  /*padding-left: 23px;*/
  float: left;
  /*height: 200px;*/
}

footer
{
  clear:both;
  background: #333;
  color: white !important;
  margin: 10px 0;
  margin-top: 0;
  padding: 10px 0;
  min-height: 100px;
  width: 100%;
  /*background: rgb(59,59,60); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiM2IzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzU4NTk1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg0JSIgc3RvcC1jb2xvcj0iIzU4NTk1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MTQwNDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
/*background: -moz-linear-gradient(top, rgba(59,59,60,1) 0%, rgba(88,89,91,1) 60%, rgba(88,89,91,1) 84%, rgba(65,64,66,1) 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,59,60,1)), color-stop(60%,rgba(88,89,91,1)), color-stop(84%,rgba(88,89,91,1)), color-stop(100%,rgba(65,64,66,1))); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top, rgba(59,59,60,1) 0%,rgba(88,89,91,1) 60%,rgba(88,89,91,1) 84%,rgba(65,64,66,1) 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top, rgba(59,59,60,1) 0%,rgba(88,89,91,1) 60%,rgba(88,89,91,1) 84%,rgba(65,64,66,1) 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top, rgba(59,59,60,1) 0%,rgba(88,89,91,1) 60%,rgba(88,89,91,1) 84%,rgba(65,64,66,1) 100%); /* IE10+ */
/*background: linear-gradient(to bottom, rgba(59,59,60,1) 0%,rgba(88,89,91,1) 60%,rgba(88,89,91,1) 84%,rgba(65,64,66,1) 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3c', endColorstr='#414042',GradientType=0 ); /* IE6-8 */
background: rgb(88,89,91); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU4NTk1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MTQwNDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(88,89,91,1) 0%, rgba(65,64,66,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,89,91,1)), color-stop(100%,rgba(65,64,66,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(88,89,91,1) 0%,rgba(65,64,66,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(88,89,91,1) 0%,rgba(65,64,66,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(88,89,91,1) 0%,rgba(65,64,66,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(88,89,91,1) 0%,rgba(65,64,66,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58595b', endColorstr='#414042',GradientType=0 ); /* IE6-8 */
}

header
{
/*border-bottom: 1px solid rgb(194, 194, 194);*/
/*border-bottom: 1px solid rgb(230, 230, 230);*/
  padding: 0 0 3px 0;
}

.slideshow
{
  text-align: center;
  height: 370px;
  margin: 0;
  background: #eee;
  background: #eee;
  /*padding-bottom: 25px;*/
}

nav li
{
  float: left;
}
a
{
  text-decoration: none;
}

header a
{
  color: black;
  text-decoration: none;
}

footer a
{
  color: white;
  text-decoration: none;
}

.footcol1
{
  width: 40%;
  text-align: left;
  float: left;
}

.footcol2
{
  width: 40%;
  text-align: center;
  float: right;
}

li a
{
  font-weight: 400;
  text-decoration: none;
}

#slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  /*    height: 400px;*/
}

#slideshow > div {
  position: absolute;
    /*top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    */
  }

  #slideshow > div > img {
    width: 100%;
    height: 100%;
  }


  h1, h2
  {font-weight: 700;}

  h1
  {
    font-size: 60px;
    text-transform: uppercase;
    display: inline;
    color: black;
  }
  h2
  {
    font-size: 50px;
    text-transform: uppercase;
    display: inline;
    color: black;
  }

  h3
  {
    font-size: 20px;
    line-height: 30px;
  }

  nav li
  {

    text-decoration: none;
  }

  nav a
  {
    font-size: 20px;
    /*margin-left: 30px;*/
    padding-left: 10px;
    text-decoration: none;
    text-align: right;
  }


  .left
  {
    float: left;
  }

  .right
  {float: right;}

  .footnav
  {
    padding-right: 30px;
    font-size: 25px;
  }

  .footnav a
  {
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
  }

  .footnav ul
  {
    padding-top: 36px;
  }

  .footcontact
  {
    font-size: 20px;
    padding:13px 25px;
    font-weight: 300;
    line-height: 36px;
  }

  .subheader
  {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .paddingt30
  {
    /*padding-top: 30px;*/
  }

  .text
  {
    /*padding-top: 10px;*/
    padding-bottom: 20px;
    /*border-bottom: 3px solid #666;*/
    width: 90%;
    /*margin-top:14px;*/
    line-height: 24px;
  }

  .partnerimg
  {
    float: left;
      /*padding-top: 20px;*/
      padding-top: 65px;
    padding-left: 10px;

  }

  .partnerbio
  {
    float: left;
    padding-left: 30px;
    margin-top: 20px;
    /*width: 800px;*/
    letter-spacing: 1px;
  }

  .row
  {
    /*border-bottom: 2px solid #555;*/
    padding-bottom: 30px;
/*    margin-bottom: 30px;*/
    /*height: 450px;*/
  }

  h3 a
  {color: #333;}

  header
  {
    text-align: left;
  }

  a
  {
    text-decoration: none !important;
  }
/*
*
{border: 1px solid black;
  background: green;}*/

  nav
  {
    text-align: right;
  }


  /*d,d,d*/


  /* Nav */
  header nav {
    float: right;
    margin-top: 29px;
  }

  header nav li {
    display: inline;
    margin-left: 15px;
  }




  /* Media Queries */
  @media screen and (max-width: 480px) {

    footer nav, header nav, #main, aside {
      float: left;
      clear: left;
      margin: 0 0 10px;
      width: 100%;
    }
    footer nav li, header nav li {
      margin: 0;
      display: block;
      margin-bottom: 3px;
    }
    footer nav a, header nav a {
      display: block;
      padding: 10px;
      text-align: center;
    }
    footer nav ul, header nav ul
    {
      padding: 0;
    }

    .tagline
    {
      text-align: center;
    }

    header h1
    {
      text-align: center;
    }
    header
    {
      margin: 0;
      padding: 0;
    }
    .rightwidth
    {
      float:left;
      padding-left:37px;
    }
    .footcontact
    {
      text-align: center}
      .left
      {
        padding-left:61px;
      }
      .footnav ul
      {
        padding-top: 1px;
      }
      footer{padding: 0;}
      .footnav a
      {
        font-size: 19px;
      }

      .partnerimg
      {
        margin-top: 20px;
        padding-top: 0;
      }

      .partnerimg img
      {
        padding:  0 0px 25px 57px;
      }

      .partnerbio
      {
        margin-top: -10px;
      }

    .footnav ul li
{
  margin-left: 0;
}
    }

    .margintop30
    {
      /*margin-top: 30px;*/
    }


    .gradient, .about
    {
/*background: rgb(245,245,245); /* Old browsers */*/
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOGM4YzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
/*background: -moz-linear-gradient(top,  rgba(245,245,245,1) 1%, rgba(200,200,200,1) 100%); /* FF3.6+ */*/
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(245,245,245,1)), color-stop(100%,rgba(200,200,200,1))); /* Chrome,Safari4+ */*/
/*background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 1%,rgba(200,200,200,1) 100%); /* Chrome10+,Safari5.1+ */*/
/*background: -o-linear-gradient(top,  rgba(245,245,245,1) 1%,rgba(200,200,200,1) 100%); /* Opera 11.10+ */*/
/*background: -ms-linear-gradient(top,  rgba(245,245,245,1) 1%,rgba(200,200,200,1) 100%); /* IE10+ */*/
/*background: linear-gradient(to bottom,  rgba(245,245,245,1) 1%,rgba(200,200,200,1) 100%); /* W3C */*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#c8c8c8',GradientType=0 ); /* IE6-8 */*/
   /*min-height: 700px;*/

background: rgb(245,245,245); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(230,230,230,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(230,230,230,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(230,230,230,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(230,230,230,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(230,230,230,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(230,230,230,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-8 */
    }

    header nav ul li a
    {
      color: #434343 !important;
    }

    .footnav ul li
{
  margin-left: 10px;

}

.pad30{
  padding: 30px;
}

hr
{
color: #555;
height: 5px;
}

.caption
{
  text-align: center;
}

rect[Attributes Style] {
fill: #0b62a4;
stroke: #000000;
stroke-width: 0px;
}

.span_1_of_2
{
  padding-top: 0;
  margin-top: 0;
}



